In [172]:
import os
import numpy as np
import pandas as pd

In [195]:
file = '090926A_Zaninoni_mag.txt'
f = open(file,'r')

ddd = f.readlines()
dd = [i.split('\t') for i in ddd]

for i in dd:
    i[-1] = i[-1][:-1]

c = dd.pop(0)
d = pd.DataFrame(dd, columns=c)
f.close()
d

,T_start(s),T_end(s),Midtime(s),Exp_time(s),Mag,MagErr,Filter,Telescope,Source
0,-9.,-9.,46800.,358.,18.33,0.06,u,UVOT,cenko11
1,-9.,-9.,47500.,358.,18.34,0.1,v,UVOT,cenko11
2,-9.,-9.,51700.,675.,18.5,0.05,u,UVOT,cenko11
3,-9.,-9.,53100.,675.,18.91,0.09,v,UVOT,cenko11
4,-9.,-9.,57400.,704.,18.71,0.05,u,UVOT,cenko11
...,...,...,...,...,...,...,...,...,...
527,-9.,-9.,356000.,1200.,19.78,0.07,H,GROND,rau10
528,-9.,-9.,419000.,1200.,19.81,0.07,H,GROND,rau10
529,-9.,-9.,332000.,1200.,19.28,0.09,KS,GROND,rau10
530,-9.,-9.,356000.,1200.,19.56,0.09,KS,GROND,rau10
531,-9.,-9.,419000.,1200.,19.58,0.13,KS,GROND,rau1

In [196]:
for i in range(len(d)):
    if d.iloc[i][0] == '-9.':# and d.iloc[i][1] == '-9.':
        d.iloc[i][0] = float(d.iloc[i][2])
    if d.iloc[i][0] != '-9.' and d.iloc[i][1] == '-9.' and d.iloc[i][2] == '-9.':
        d.iloc[i][0] = float(d.iloc[i][0]) + (float(d.iloc[i][3])/2.0)
    if d.iloc[i][0] != '-9.' and d.iloc[i][1] != '-9.':
        d.iloc[i][0] = (float(d.iloc[i][0]) + float(d.iloc[i][1]))/2.0

d.drop(['T_end(s)','Midtime(s)','Exp_time(s)'], axis=1, inplace=True)
f = open(file,'w+')
d.to_csv(file, index=None, sep='\t', mode='a')
f.close()

In [5]:
files = os.listdir()
for file in files:
    if file.endswith('.txt'):
    #file = '060111A.txt'
        f = open(file, 'r')
        aa = f.readlines()
        for i in range(len(aa)):
            aa[i] = aa[i].replace('>','').replace('?','0').replace('-9.','0').replace('gcn', 'Source').replace('GCN', 'Source').replace('source', 'Source').replace('time','Time').replace('.  ','.0 ').replace('.\s+','.0\s+').replace('.\t','.0\t')
        f.close()
        f = open(file, 'w')
        for i in aa:
            f.write(i)
        f.close()